{% extends 'project/frame.html' %}
{% load static %}

{% block content %}

<section class="s1">
    <br>
    <br>
    <div class="main-container">
        <div class="intro-wrapper">
            <div class="nav-wrapper">
                <div class="dots-wrapper">
                    <div id="dot-1" class="browser-dot"></div>
                    <div id="dot-2" class="browser-dot"></div>
                    <div id="dot-3" class="browser-dot"></div>
                </div>
                <ul id="navigation">
                    <li><a href="{% url 'theProject:index' %}"><i style="color: red" class="fa fa-2x fa-home" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="left-column">
                <h5 style="text-align: center; line-height: 0;">
                    {{ data.name }}
                </h5>
                <p id="setting-note">{{ data.short_desc }}</p>
                <img id="project-pic" src="{% static 'media/' %}{{ data.image }}"  alt=""/>
            </div>
            <div class="right-column">
                <h3 id="project-heading" style="text-decoration: underline">Introduction</h3>
                <p>
                    {{ data.intro }}
                </p>
                <table>
                    <tr>
                        <th style="text-align: end">Technology :</th>
                        <td>{{ data.technology }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: end">Module :</th>
                        <td>{{ data.module}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: end">Github :</th>
                        <td><a href="{{ data.git }}">{{ data.git}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
